/* Import Bootstrap CSS first */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Then declare your @font-face rule */
@font-face {
  font-family: 'Soria';
  src: url('../assets/soria-font.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Or apply it to the body element */
body {
  font-family: 'Soria', sans-serif; /* Fallback to sans-serif if Soria is not available */
}

/* Other styles */
