/* Import Bootstrap CSS first */
@import"bootstrap/dist/css/bootstrap.min.css";

/********************************* FONTS *************************************/
@font-face {
  font-family: 'Alex Brush';
  src: url('/assets/alex-brush-regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vercetti';
  src: url('/assets/Vercetti-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Object Sans';
  src: url('/assets/ObjectSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lingkawi';
  src: url('/assets/Lingkawi-South.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Right Sans';
  src: url('/assets/PPRightSans-Light.otf');
  font-weight: normal;
  font-style: normal;
}

/********************************* ROOT *************************************/
/* Apply your custom font to the html or body element */
.homepage {
  height: 100vh;
}

body {
 /* background-image: url('/assets/pearl-background.jpeg'); */
 background-color: rgb(92, 17, 0) !important;
}

/********************************* HEADER *************************************/
.navbar-brand {
  color: rgb(241,  255,  241)!important;
  font-size:  25px !important;
  font-family: 'Object Sans'; /* Fallback to sans-serif if Soria is not available */
}

.navbar-buttons {
  gap:   1px; /* Space between buttons */
}

.home-button, .login, .logout {
  flex:   1; /* Allow buttons to grow and shrink */
  text-align: center;
  padding:   5px   15px;
  transition: transform  0.3s ease; /* Smooth transition for the transform property */
  will-change: transform; /* Hint to the browser that the element will be transformed */
}

.login:hover,
.logout:hover {
  transform: scale(0.95); /* Scale down the button to 95% of its original size */
}

.add-button-2:hover {
  transform: scale(0.95);
}

.home-button:hover, .holder-button:hover {
  transform: scale(0.95); /* Scale down the button to  95% of its original size */
}

/* In your CSS file */
.home-button {
  padding:  10px  20px; /* Adjust the values as needed */
}

.index {
  font-family: 'Object Sans', Helvetica, sans-serif;
}

.custom-card-font {
  font-family: 'Object Sans', Arial, sans-serif; /* Use 'Arial' or another generic font as a fallback */
  text-align: center;
}

.card-title.card-title-custom {
  color: black; /* Replace with the actual color code you want to use */
}

.item-title {
  color: rgb(241, 255, 241);
  font-family: 'Object Sans';
  font-size: 100px;
}

.item-content {
  font-family: 'Object Sans';
  color: rgb(241, 255, 241);
  padding: 150px 25px 0px 25px;
  font-size: 30px;
  animation: fadeInOut 1s ease-in-out;
}

.homepage {
  animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-fluid { 
  background-color: rgb(92, 17, 0) !important;
}

.image-wrapper img {
  width:  50%;
  height: auto;
  object-fit:contain; /* This will make sure the image covers the container fully */
  object-position: center; /* This will center the image within its container */
}

  /* In your CSS file */

.cards {
  padding-bottom: 50px;
}
.add-button-2 {
  font-family: 'Object Sans';
  padding-bottom: 50px !important;
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  transition: transform  0.3s ease; /* Smooth transition for the transform property */
  will-change: transform;
}


.index {
  font-family: 'Object Sans', Helvetica, sans-serif;
}

.index-header {
  font-family: 'Object Sans';
  color: rgb(241, 255, 241)!important;
  font-size: 50px;
  padding-bottom: 75px;
  padding-top: 100px;
  text-align: center;
}

.homepage-text {
  font-size: 400px;
  font-family: 'Lingkawi';
  text-align: center;
  color: rgb(223, 252, 223);
  padding-top: 240px;
}

.custom-edit-button {
  background: transparent;
  border-radius:  10px;
  border:  2px solid #fff; /* Added border-style and border-color */
  color: rgb(255,  255,  255);
  font-size: 18px;
}

.delete-button { 
  background: transparent;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  border-style: inherit;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.button-container {
  display: flex; /* This will arrange the buttons in a row */
  gap:  10px; /* Optional: adds space between the buttons */
}

/* Optionally, if you want to stack them vertically on small screens, you can use media queries */
@media (max-width:  600px) {
  .button-container {
    flex-direction: column; /* Stacks the buttons vertically */
  }
}




.login-form {
  padding-top: 100px;
  color: white;
}

.navbar-brand.logout {
  /* Remove the default button styling */
  background: transparent; /* Transparent background */
  border: none; /* No border */
}

.form-container {
  font-family: 'Object Sans';
  max-width:  400px; /* Adjust this value to your preference */
  margin:  0 auto; /* Center the form container horizontally */
}

.login-text {
  font-family: 'Object Sans';
  text-align: center;
}

.message {
  text-align: center; /* Center the text */
  margin-bottom:  1rem; /* Add some space below the message */
}

.logout-success-message {
  text-align: center;
  color: rgb(255, 255, 255); /* Change the color to indicate success */
  font-weight: bold;
  margin-top:  1rem; /* Adjust the spacing as needed */
}

.index-header {
  font-family: 'Object Sans';
  text-decoration: underline;
}

.new-item-form {
  width: 300px;
  color: antiquewhite;
  text-align: center;
  margin: 0 auto; 
  padding-top: 25px;
} 

.new-item-header-container {
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center horizontally */
  padding-top: 100px;
  color: antiquewhite;
  font-family: 'Object Sans';
  text-decoration: underline;
}

.row.g-4 {
  padding-left: 1%;
  padding-right: 1%; 
}


.new-item:hover {
  transform: scale(0.8);
}

.new-item {
  transition: transform  0.3s ease; /* Smooth transition for the transform property */
  will-change: transform; /* Hint to the browser that the element will be transformed */
}

/* .new-item-form {
  padding-top: 100px;
} */

.center-container {
  position: absolute;
  top: 800px; /* Adjust this value to move the container up or down */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}